@import "tailwindcss";

/* Real theme values */
@layer theme {
  :root {
    --background: hsl(28 2% 3%);
    --foreground: hsl(28 3% 95%);
    --foreground-secondary: hsl(0 0% 60%);

    --popover: hsl(28 1% 8%);
    --popover-foreground: hsl(28 3% 98%);
    --popover-foreground-secondary: hsl(28 3% 75%);

    --primary: hsl(28 3% 95%);
    --primary-foreground: hsl(28 3% 2%);
    --primary-foreground-secondary: hsl(28 3% 25%);

    --outline: hsl(28 3% 10%);
    --warning: hsl(28 90% 10%);
    --warning-foreground: hsl(28 80% 90%);

    --muted: hsl(28 3% 35%);

    --destructive: hsl(0 100% 60%);
    --warning: hsl(57 85% 84%);
    --warning-foreground: hsl(57 50% 15%);
  }
}

/* Tailwind tokens */
@theme inline {
  --color-background: var(--background);

  --color-foreground: var(--foreground);
  --color-foreground-secondary: var(--foreground-secondary);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover-foreground-secondary: var(--popover-foreground-secondary);

  --color-outline: var(--outline);
  --color-muted: var(--muted);

  --color-destructive: var(--destructive);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);

  --text-xs: 0.75rem;
  --text-sm: 0.875rem;
  --text-md: 1.5rem;
  --text-lg: 2rem;
  --text-xl: 3rem;
  --text-2xl: 4rem;

  --spacing-2xs: 4px;
  --spacing-xs: 8px;
  --spacing-sm: 16px;
  --spacing-md: 24px;
  --spacing-lg: 32px;
  --spacing-xl: 48px;
  --spacing-2xl: 64px;
  --spacing-3xl: 80px;

  --radius: 8px;
  --radius-xs: 4px;

  --font-sans: "Archivo";
  --font-mono: "Input Mono";

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  --spacing-screen-minus-navbar: calc(100vh - 73px);

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@font-face {
  font-family: "Input Mono";
  src: url("/fonts/inputMono/InputMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Input Mono";
  src: url("/fonts/inputMono/InputMono-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Input Mono";
  src: url("/fonts/inputMono/InputMono-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Input Mono";
  src: url("/fonts/inputMono/InputMono-Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

/* Global element styling */
body {
  font-family: var(--font-sans), sans-serif;
  font-size: var(--text-sm);
}

li {
  list-style: none;
}
